*{
	margin: 0;
	padding: 0;
}
body{
	background-color: rgb(150, 157, 163);
	background-image: url(./book.jpg);
	background-size: cover;
	font-family: 'Montserrat', sans-serif;
}
nav{
	height: 80px;
	background-color: rgb(240, 246, 247, .8);
}
h2{
	line-height: 80px;
	display: inline-block;
	margin-left: 40px;
	color: rgb(52, 58, 64);
}
ul{
	float: right;
	margin-right: 40px;
	list-style: none;
}
ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 10px;
}
ul li a{
	font-size: 17px;
	text-decoration: none;
	font-weight: lighter;
	color: rgb(52, 58, 64);
}
ul li a:hover{
	color: rgb(49, 112, 175);
}
label #btn,
label #close{
	color: rgb(52, 58, 64);
	font-size: 30px;
	float: right;
	margin-right: 40px;
	line-height: 80px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;
}
@media (max-width: 992px) {
	label #btn{
		display: block;
	}
	ul {
		position: fixed;
		width: 100%;
		height: 100vh;
		margin-right: 0;
		right: -100%;
		top: 80px;
		background-color: rgb(240, 246, 247, .8);
		text-align: center;
		transition: .5s;
	}
	ul li {
		display: block;
		line-height: 10px;
		margin: 50px 0;

	}
	#check:checked ~ ul{
		right: 0;
	}
	#check:checked ~ label #btn{
		display: none;
	}
	#check:checked ~ label #close{
		display: block;
	}
}