body{
	background: grey;
}
.grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 80px;
	align-items: center;
	grid-gap: 20px;
}
img{
	object-fit: cover;
}
.grid > article{
	box-shadow: 10px 5px 5px 0px black;
	border-radius: 20px;
	text-align: center;
	background: whitesmoke;
	width: 300px;
	transition: transform;
}
.grid > article img{
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}
/*.konten{
	text-transform: uppercase;
	cursor: progress;
}*/
.grid > article::hover{
	transform: scale(1.2);

}
@media (max-width: 1000px){
	.grid{
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 500px){
	.grid{
		grid-template-columns: repeat(1, 1fr);
	}
}